# Check GitHub for a new version every 2 minutes.
[Unit]
Description=City Life Auto auto-update check every 2 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
